{% extends 'base.html.twig' %}

{% block title %}Edit Seance{% endblock %}

{% block body %}
    <h1 class="h1_create">Modifier La Séance</h1>

    {{ include('seance/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
