{% extends 'base.html.twig' %}

{% block title %}Nouvelle Séance{% endblock %}

{% block body %}
    <h1 class="h1_create">Ajouter une séance</h1>
    {{ include('seance/_form.html.twig') }}

    <a href="{{ path('seance_index') }}">Retour à la liste de Séance</a>
{% endblock %}
