.detail_film_div_container
{
    background-color: #5e5e5e;
    margin:40px;
    color :antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    width:55%;
    display:block;
    box-shadow: 5px 2px 4px #0a0a0a;
}

.detail_film_div_titre{
    font-weight: bold;
    font-size: 1.5rem;
}

.detail_div_img{
    text-align: center;
}

.detail_div_img img{
    max-height: 400px;
    max-width: 100%;
}

.detail_film_div_synopsis{
    font-size: 1.25rem;
    line-height: 2.5ch;
}

.detail_film_div_grd{
    padding-top:20px;
    font-size: 1.1rem;
    color :#c1c1c1;
    padding-bottom: 30px;
}

.detail_film_div_grd p{
    margin:auto;
    line-height: 3.5ch;
}

.film_detail_super_container{
    display: flex;
}

.seance_detail_div_container{
    background-color: #5e5e5e;
    margin:40px;
    color :antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    width:30%;
    display:block;
    box-shadow: 5px 2px 4px #0a0a0a;
}

.seance_detail_div_titre{
    padding:20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.message_contenu_manquant{
    text-align: center;
    padding: 15px;
    background-color: #0a0a0a;
    margin-top: 50%;
    font-size: 1.4rem;
}

.message_contenu_inexistant{
    text-align: center;
    padding: 15px;
    background-color: #0a0a0a;
    margin-top: 100px;
    font-size: 1.4rem;
}



















































.detail_container
{
    text-align: center;
    padding:40px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.detail_btn
{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.detail_btn a
{
    border:2px solid cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color:cornflowerblue;
    margin:5px;
    background-color: white;
    padding:15px;
}

.detail_btn a:hover
{
    border:2px solid black;
    color:black;
}