.navbar
{
    background-color: #d8bf00;
    padding:20px;
    margin:0;
    margin-bottom:30px;
    text-align: center;
}

.aNavBar
{
    padding:30px;
    color:black;
    text-decoration:none;
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.aNavBar:hover
{
    color:#7c7c7c;
}