{% extends 'base.html.twig' %}

{% block title %}Modifier Salle{% endblock %}

{% block body %}
    <h1 class="h1_create">Modifier La Salle</h1>

    {{ include('salle/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
