{% extends 'base.html.twig' %}

        {% block body %}
                  <div>
            <h1> Redirection de salle <h1>
            <div> Votre séance numéro {{numSeance}} se déroulera dans la salle numéro {{numSalle}}, nous vous souhaitons une bonne séance avec PureCinema. <div>
        </div>
        {% endblock %}