<nav class="navbar">
    <a class="aNavBar" href="{{ path ('accueil') }}">Accueil</a>
    <a class="aNavBar" href="{{ path ('filmList') }}">Films</a>
    <a class="aNavBar" href="{{ path ('filmCreate') }}">Ajouter un film</a>
    <a class="aNavBar" href="{{ path ('seance_new') }}">Ajouter une séance</a>

</nav>