<nav class="navbar">
    <a class="aNavBar" href="{{ path ('filmList') }}">Films</a>
    <a class="aNavBar" href="{{ path ('seance_index') }}">Séances</a>
    <a class="aNavBar" href="{{ path ('salle_index') }}">Salles</a>
    <a class="aNavBar" href="{{ path ('admin') }}">Admin</a>
</nav>